postgresql:
  global:
    storageClass: local-path
  auth:
    postgresPassword: "postgrespassword"
    username: "admin"
    password: "adminpassword"
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: 15.8.0
  primary:
    persistence:
      size: 20Gi
    initdbScripts:
      init.sql: |
        CREATE DATABASE airflow_db;
        CREATE USER airflow_user WITH PASSWORD 'airflow_pass';
        GRANT ALL PRIVILEGES ON DATABASE airflow_db TO airflow_user;
        ALTER DATABASE airflow_db OWNER TO airflow_user;

        CREATE DATABASE openmetadata_db;
        CREATE USER openmetadata_user WITH PASSWORD 'openmetadata_password';
        GRANT ALL PRIVILEGES ON DATABASE openmetadata_db TO openmetadata_user;
        ALTER DATABASE openmetadata_db OWNER TO openmetadata_user;
    networkPolicy:
      enabled: false # We will manage our own custom NetPol for more precision
