apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: docker-registry-storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: {{ .Values.persistence.storageClassName | quote }}


