replicaCount: 1

image:
  repository: minio/minio
  tag: "RELEASE.2024-08-29T01-40-52Z"
  pullPolicy: IfNotPresent

auth:
  rootUser: minioadmin
  rootPassword: minioadmin123

persistence:
  enabled: true
  size: 100Gi
  storageClassName: "local-path"

service:
  type: NodePort
  port: 9000
  nodePort: 30900

consoleService:
  type: NodePort
  port: 9001
  nodePort: 30901

resources:
  requests:
    memory: "2Gi"
    cpu: "500m"
  limits:
    memory: "4Gi"
    cpu: "1000m"

