replicaCount: 1

image:
  repository: registry
  tag: "2"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 5000
  nodePort: 30500

persistence:
  enabled: true
  size: 100Gi
  storageClassName: "local-path"


