apiVersion: v1
kind: Service
metadata:
  name: minio
  labels:
    app: minio
spec:
  type: {{ .Values.service.type }}
  selector:
    app: minio
  ports:
    - name: api
      port: {{ .Values.service.port }}
      targetPort: api
      nodePort: {{ .Values.service.nodePort }}


