airflowChart:
  # Kubernetes API (for KubernetesExecutor)
  kubeAPI:
    serviceIP: "10.233.0.1"
    port: 443
  airflow:
    image:
      repository: apache/airflow
      tag: 2.7.3-python3.10
      pullPolicy: IfNotPresent

    executor: KubernetesExecutor
    
    extraPipPackages:
      - "openmetadata-ingestion[airflow-container]==1.5.4"
      - "pydantic<2.0.0"
    
    extraVolumes:
      - name: openmetadata-libs
        emptyDir: {}
    
    extraVolumeMounts:
      - name: openmetadata-libs
        mountPath: /opt/openmetadata-libs
    
    extraInitContainers:
      - name: install-managed-apis
        image: apache/airflow:2.7.3-python3.10
        command: ["bash", "-c", "PIP_USER=false pip install --target /opt/openmetadata-libs openmetadata-managed-apis==1.5.4 \"pydantic<2.0.0\" --no-deps Flask-Admin==1.6.0"]
        volumeMounts:
          - name: openmetadata-libs
            mountPath: /opt/openmetadata-libs
    
    extraEnv:
      - name: PYTHONPATH
        value: "/opt/openmetadata-libs"
        
    config:
      AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.session,airflow.api.auth.backend.basic_auth"
      AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/opt/airflow/dags"
      AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "True"

    users:
    - username: admin
      password: admin
      role: Admin
      email: admin@example.com
      firstName: Admin
      lastName: User

  web:
    service:
      type: NodePort
      nodePort:
        http: 32180

  postgresql:
    enabled: false

  externalDatabase:
    type: postgres
    host: postgres-shared-postgresql.infra.svc.cluster.local
    port: 5432
    database: airflow_db
    user: airflow_user
    passwordSecret: postgres-shared-secrets
    passwordSecretKey: airflow-password

  serviceAccount:
    create: true
    name: "airflow"

  dags:
    persistence:
      enabled: false
    gitSync:
      enabled: true
      repo: "https://github.com/ibrahimlahouar/airflow-dags.git"
      branch: "main"
      subPath: ""
      # public repo -> no credentials required
      sshSecret: ""
      httpSecret: ""

  ingress:
    enabled: true
    web:
      path: ""
      host: "airflow.data-platform.local"
      annotations:
        kubernetes.io/ingress.class: nginx
  
  logs:
    persistence:
      enabled: false

  scheduler:
    logCleanup:
      enabled: false

  workers:
    enabled: false
    logCleanup:
      enabled: false

  # Enable migration job explicitly
  migrateDatabaseJob:
    enabled: true
    jobAnnotations:
      "argocd.argoproj.io/hook": "PreSync"
      "argocd.argoproj.io/hook-delete-policy": "BeforeHookCreation"

  redis:
    enabled: false

  flower:
    enabled: false

  pgbouncer:
    enabled: false
