airflow:
  airflowVersion: "2.8.0"
  executor: KubernetesExecutor
  
  # GitSync pour nos DAGs
  dags:
    gitSync:
      enabled: true
      repo: https://github.com/ibrahimlahouar/airflow-dags.git
      branch: main
      rev: HEAD
      depth: 1
      maxFailures: 0
      subPath: ""
      
  # Utilisation des secrets gérés par nous
  fernetKeySecretName: airflow-fernet-key
  webserverSecretKeySecretName: airflow-webserver-secret-key

  # Désactivation de PostgreSQL embarqué
  postgresql:
    enabled: false

  # Configuration Database externe (standardisée)
  data:
    metadataConnection:
      user: airflow_user
      pass: airflow_pass
      protocol: postgresql
      host: postgres-shared-postgresql.infra.svc.cluster.local
      port: 5432
      db: airflow_db
      
  ingress:
    web:
      enabled: true
      ingressClassName: "nginx"
      hosts:
        - name: airflow.data-platform.local
      tls:
        enabled: true
        secretName: airflow-tls
  
  config:
    core:
      dags_are_paused_at_creation: 'False'
      load_examples: 'False'
    webserver:
      expose_config: 'True'
    api:
      auth_backends: airflow.api.auth.backend.basic_auth
  
  serviceAccount:
    create: true
    name: airflow-sa
  rbac:
    create: true
    
  logs:
    persistence:
      enabled: true
      storageClassName: local-path
      size: 10Gi

  scheduler:
    livenessProbe:
      initialDelaySeconds: 60
      timeoutSeconds: 30
      failureThreshold: 5
      periodSeconds: 60
    
  webserver:
    service:
      type: NodePort
      nodePort: 32080
    livenessProbe:
      initialDelaySeconds: 60
      timeoutSeconds: 30
      failureThreshold: 5
      periodSeconds: 60
    startupProbe:
      initialDelaySeconds: 30
      timeoutSeconds: 30
      failureThreshold: 10
      periodSeconds: 15
