apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: {{ .Release.Namespace }}
spec:
  addresses:
    - 10.10.0.200-10.10.0.210
  autoAssign: true
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default-l2
  namespace: {{ .Release.Namespace }}
spec:
  ipAddressPools:
    - default-pool

